extends ../layout
block content
    h1 #{title}
    form(data-ajax data-redirect='/empleados' method='post', action=`/api/empleados/${empleado.id}?_method=PUT`)
        label Nombre
            input(type='text', name='nombre', required, value=empleado.nombre)
        label Rol
            input(type='text', name='rol', required, value=empleado.rol)
        label Área
            input(type='text', name='area', required, value=empleado.area)
        a(href='/empleados', class="btn btn-red") ❌ Cancelar
        button(type='submit', class="btn btn-green") ✅ Guardar cambios