extends ../layout
block content 
    h1 Empleados 
    a(href='/empleados/nuevo') + Nuevo 
    if empleados && empleados.length
        table(border = '1' cellpadding = '6')
            thead 
                tr 
                    th Nombre 
                    th Rol 
                    th Área
                    th ID 
                tbody 
                    each e in empleados 
                        tr 
                            td= e.nombre 
                            td= e.rol 
                            td= e.area 
                            td= e.id
                            td
                                a(href= `/empleados/${e.id}/editar`) Editar
                                |   . 
                                form(data-ajax data-redirect='/empleados' method='post',action=`/api/empleados/${e.id}?_method=DELETE`, style='display:inline')
                                    button(type='submit') Eliminar
    else 
        p No hay empleados.
