extends ../layout
block content 
    h2 #{title} 
    a(href='/pacientes/nuevo', class="btn btn-green") &plus; Nuevo 
    if pacientes && pacientes.length
        div(class="table-container")
            table(border = '1' cellpadding = '6')
                thead 
                    tr 
                        th Nombre y Apellido 
                        th DNI 
                        th Fecha Nacimiento
                        th Obra Social
                        th Email 
                        th Teléfono
                        th Editar 
                        th Eliminar
                tbody 
                    each p in pacientes 
                        tr 
                            td= `${p.nombre} ${p.apellido}` 
                            td= p.dni 
                            if p.fechaNacimiento
                                - const dia = p.fechaNacimiento.getUTCDate().toString().padStart(2, '0')
                                - const mes = (p.fechaNacimiento.getUTCMonth() + 1).toString().padStart(2, '0')
                                - const anio = p.fechaNacimiento.getUTCFullYear()
                                td= `${dia}/${mes}/${anio}`
                            else
                                td= `Fecha desconocida`
                            if p.obraSocial
                                - const {prestador, plan} = p.obraSocial                                    
                                td=  `${prestador || "-"} | ${plan || "-"}`
                            else
                                td= 'Sin cobertura'

                            td= p.email
                            td= p.telefono
                            td 
                                a(href= `/pacientes/${p._id}/editar`, class="btn btn-yellow") ✍🏻 Editar
                            td
                                // Usa p._id para Mongoose/Mongo
                                form(data-ajax data-redirect='/pacientes' method='post',action=`/api/pacientes/${p._id}?_method=DELETE`, style='display:inline')
                                    button(type='submit', class="btn btn-red", onclick=`return confirm(\"¿Seguro que quiere eliminar el paciente ${p.nombre} ${p.apellido} ?\")`) 🗑️ Eliminar
    else 
        p No hay pacientes registrados.