extends ../layout
block content
    h1 Editar turno
    form(data-ajax data-redirect='/turnos' method='post', action=`/api/turnos/${turno.id}?_method=PUT`)
        label Paciente ID
            input(type='number', name='pacienteId', required, value=turno.pacienteId)
        label Empleado ID
            select(name='empleadoId', required)
                    option( value=turno.empleadoId, selected)=turno.empleadoId 
                    each e in empleados
                        option(value=e.id)= `${e.nombre} - ${e.id}`
        label Inicio
            input(type='datetime-local', name='fechaInicio', required, value=turno.fechaInicio)
        label Fin
            input(type='datetime-local', name='fechaFin', required, value=turno.fechaFin)
        label Prioridad
            select(name='prioridad')
                option(value='alta', selected=turno.prioridad==='alta') alta
                option(value='media', selected=turno.prioridad==='media') media
                option(value='baja', selected=turno.prioridad==='baja') baja
        label Estado
            select(name='estado')
                option(value='pendiente', selected=turno.estado==='pendiente') pendiente
                option(value='en proceso', selected=turno.estado==='en proceso') en proceso
                option(value='finalizado', selected=turno.estado==='finalizado') finalizado
        label Observaciones
            input(type='text', name='observaciones', value=turno.observaciones)
        a(href='/turnos', class="btn btn-red") ❌ Cancelar
        button(type='submit', class="btn btn-green") ✅ Guardar cambios