extends ../layout
block content
    h2 #{title}
    a(href='/turnos/nuevo', class="btn btn-green") &plus; Nuevo
    if turnos && turnos.length
        div(class="table-container")
            table(border='1' cellpadding='6')
                thead
                    tr
                        th ID
                        th Paciente
                        th Empleado
                        th Inicio
                        th Fin
                        th Prioridad
                        th Estado
                        th Obs.
                        th Editar 
                        th Eliminar
                tbody
                    each t in turnos
                        tr
                            td(class="txt-wrap")= t.id
                            td(class="txt-wrap")= t.pacienteId
                            td(class="txt-wrap")= t.empleadoId
                            td= new Date(t.fechaInicio).toLocaleString('es-AR')
                            td= new Date(t.fechaFin).toLocaleString('es-AR')
                            td= t.prioridad
                            td= t.estado
                            td= t.observaciones
                            td 
                                a(href=`/turnos/${t.id}/actualizar`, class="btn btn-yellow") ✍🏻 Editar
                            td
                                form(data-ajax data-redirect='/turnos' method='post', action = `api/turnos/${t.id}?_method=DELETE`)
                                    button(type='submit', class="btn btn-red", onclick=`return confirm("¿Seguro que quiere eliminar el turno con id ${t.id} ?")`) 🗑️ Eliminar
    else
        p No hay turnos.